<?xml version="1.0"?>
<launch>
  <node pkg="dynamixel_workbench_ros_control" type="dynamixel_controller_manager_node" name="ros_control" output="screen">
    <param name="control_loop_hz" value="200" />
    <rosparam file="$(find dynamixel_workbench_ros_control)/config/minibot.yaml" command="load" />
  </node>

  <param name="robot_description" textfile="$(find minibot_description)/urdf/minibot.urdf" />

  <rosparam file="$(find dynamixel_workbench_ros_control)/config/controller.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="joint_state_controller imu_sensor_controller JointGroupController">
  </node>
</launch>
