<?xml version="1.0"?>
<launch>
  <node pkg="dynamixel_workbench_ros_control" type="dynamixel_controller_manager_node" name="ros_control" output="screen">
    <param name="control_loop_hz" value="1000" />
    
    <rosparam file="$(find dynamixel_workbench_ros_control)/config/wolfgang.yaml" command="load" />
  </node>

      <param name="robot_description" textfile="$(find wolfgang_description)/urdf/wolfgang.urdf" />

    <rosparam file="$(find dynamixel_workbench_ros_control)/config/controller.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="joint_state_controller imu_sensor_controller JointGroupController">
  </node>

  <!-- start imu filter for better IMU results -->
  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="imu_filter" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>  
  </node>>

</launch>
